.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    
   
}

.header_logo {
    
    height:116.8px;
    
}

.logo {
    width: 150px;
    height: 116.8px;
}

.Navbar {
    padding: 0px 20px;
    margin-top: 0px;

}

.Navbar > ul {
    list-style-type: none;
    padding: 10px;
    display: flex;
    font-size: 24px ;
    align-items: center;
    font-family: Arial, sans-serif;

}

.Navbar > ul > li {
    padding: 10px;
}

.body {
    
    border: 1px solid black;

}
.resto_cards {
    width: 200px;
    height: 300px;
    padding: 5px;
    margin: 5px;
    background-color: whitesmoke;
}

.resto_cards:hover {
    cursor: pointer;
    border: 1px solid black;
}

.food_image {
    width: 200px;
    height: 129px;
}
.food_logo {
    padding: 5px;
    width: 190px;
    border-radius: 0%;
    height: 140px;
}

.filter {
    padding: 10px;
    font-size: 25px;
}
.filter-btn {
    margin-top: 5px;
}

.filter-btn:hover {
    cursor: pointer;
    border: 1px solid black;
     
}

.food_details {
    margin: 0px;
    margin-left: 5px;
    
}

.resto_container {
    display: flex;
    flex-wrap: wrap;
}